:root {
    --primary-background-color: rgb(163, 200, 185);
    --secondary-background-color: rgb(225, 246, 233);
    --tertiary-background-color: rgb(95, 119, 86);
    --primary-text-color: rgb(31, 4, 29);
    --secondary-text-color: rgb(182, 223, 204);
    --tertiary-text-color: rgb(64, 98, 67);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: odin-font;
    src: url(./fonts/Norse-Bold.otf);
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
}

.left a {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: bold;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: "odin-font";
    background-color: rgba(0, 0, 0, 0.4);
}

.banner img {
    height: 125px;
}

.banner h2 {
    margin: 0;
}

.right {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
}

.first {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.second {
    background-color: var(--primary-background-color);
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 2px 5px #adb9ae;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%; 
    justify-content: space-between;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline-color: rgb(23, 47, 146);
}

input:invalid {
    border-color: red;
}

label {
    font-size: 15px;
    color: var(--tertiary-text-color);
}

#error {
    color: rgb(132, 0, 0);
    font-size: 15px;
    margin: 1px;
}

.btn {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: 1px solid var(--secondary-background-color);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: 50px;
    font-weight: bolder;
    font-size: medium;
    box-shadow: 2px 5px #adb9ae;
}

.btn:hover {
    cursor: pointer;
}

.third {
    height: 35vh;
}

.img-credit {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}